<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.miniproject.mapper.SaleMapper">

    <insert id="saleSave" parameterType="com.spring.miniproject.domain.Sale">

        insert into sale (category, pname, price, image) values (#{category}, #{pname}, #{price}, #{image})

    </insert>

    <update id="saleModify" parameterType="com.spring.miniproject.domain.Sale">

        update sale set pname=#{pname}, price=#{price}, image=#{image} where pnumber=#{pnumber}

    </update>

    <select id="searchOptionByAll" resultType="com.spring.miniproject.domain.Sale">

        select * from sale
        <where>

            <if test="searchType != null and keyWord != null">

                <if test="searchType == 'pname'">
                    pname like concat('%', #{keyWord}, '%')
                </if>

                <if test="searchType == 'price'">
                    price like concat('%', #{keyWord}, '%')
                </if>

            </if>


        </where>

    </select>
    
    <select id="categoryOne" resultType="com.spring.miniproject.domain.Sale">

        select c.category, s.pname, s.price, s.image from sale s, categorys c where s.category =c.idx and s.category=1

    </select>

    <select id="categoryTwo" resultType="com.spring.miniproject.domain.Sale">

        select c.category, s.pname, s.price, s.image from sale s, categorys c where s.category =c.idx and s.category=2

    </select>

    <select id="categoryThree" resultType="com.spring.miniproject.domain.Sale">

        select c.category, s.pname, s.price, s.image from sale s, categorys c where s.category =c.idx and s.category=3

    </select>


<!--
    <select id="saleList" resultType="com.spring.miniproject.domain.Sale">

        select c.category, s.pname, s.price, s.image from sale s, categorys c where s.category =c.idx

&lt;!&ndash;        select
        case when category=1 then '상의' when category =2 then '하의' else '잡화' end as 'category' from sale&ndash;&gt;
    </select>
-->


</mapper>